
.navbar-custom .active  {
    font-weight: bold;
}

.navbar-custom {
    background-color:#01baef;
    font-size: larger;
}

.nav-link:hover  {
    color: black !important;
}

.nav-link  {
    color: #fff !important;
}

/** Adapted from https://www.w3docs.com/snippets/css/how-to-create-a-multicolor-text-in-html-and-css.html */
.multicolortext {
    background-image: linear-gradient(to right, #D65BCA, #01baef, #20bf55);   
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    background-clip: text;
    color: transparent;
}

.jumbotron {
    background-color: rgb(248, 247, 247);
    border-radius: 0%;
    border-bottom-color: black;

}

.display-4{
    text-align: center;
}

.sectionImages img{
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    text-align: center;
  }

  .center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
  }

  .center3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
  }
  
    .center3a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
  }

  .center4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
  }
  
figcaption {
  padding: 0.5em;
}